<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<servlet>
		<servlet-name>Project2Servlet</servlet-name>
		<servlet-class>com.mta.javacourse.Project2Servlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Project2Servlet</servlet-name>
		<url-pattern>/ex02</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StockDetailsServlet</servlet-name>
		<servlet-class>com.mta.javacourse.StockDetailsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>StockDetailsServlet</servlet-name>
		<url-pattern>/stockdetails</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
